
//VARIABLES PARA LA FUENTE. 
$fontFamily: Outfit; //Esta no es la fuente.

//VARIABLES PARA LOS COLORES DE LA PAGINA. 
$colorFuenteTitulo: hsl(218, 44%, 22%);
$colorFuenteTexto: hsl(220, 15%, 55%);
$colorBackground: hsl(212, 45%, 89%);
$ColorBackgroundComponent: #ffffff;